<style type="text/css">
	


div.pager {
    text-align: center;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #000;
    color: #fff;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #337ab7;
}


#loading{display: none;}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
</style>


<div class="container" >
	<div class="row">
		<div class="column">
		<p id="notice"><%= notice %></p>
		<h1 class="headline">Listing Projects</h1>
		<ul class="list-inline">
        <li><%= link_to 'New Project', new_blog_path, :class => "btn btn-info" %></li>
		<li>
			<%= form_tag blogs_path, :method => 'get' do %>
			  <p style="display:inline-block"><%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %> </p>

			  <p style="display:inline-block">
				<%= text_field_tag :search, params[:search] %>		
			  </p>
			<% end %>
		</li>
		<li><%= link_to 'Guidelines', guidelines_path, :class => "btn btn-info" %></li>
		</ul>
		<div class="spinner"></div>
		<table id="loading" class="table paginated" style="margin-top:30px;">
		  <thead>
			<tr>
			  <th>Brand</th>
			  <th>Project</th>
			  <th colspan="3"></th>
			</tr>
		  </thead>

		  <tbody>
			<% @blogs.reverse_each do |blog| %>
			  <tr>
				<td><%= blog.title %></td>
				<td><%= blog.description %></td>
				<td><%= link_to 'Show', blog, :class => "btn btn-primary" %></td>
				<td><%= link_to 'ReCrop', edit_blog_path(blog), :class => "btn btn-warning" %></td>
				<td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
			  </tr>
			<% end %>
		  </tbody>
		</table>

		<br>

		
		</div>
	</div>
</div>
<div  class="logo"><p>created by:</p><img src="<%= image_url 'logo.png' %>" alt=""></div>


<script type="text/javascript">
	

	(function() {
$('.spinner').hide(10);	
$('#loading').show(30);
$('table.paginated').each(function() {
    var currentPage = 0;
    var numPerPage = 10;
    var $table = $(this);
    $table.bind('repaginate', function() {
        $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
    });
    $table.trigger('repaginate');
    var numRows = $table.find('tbody tr').length;
    var numPages = Math.ceil(numRows / numPerPage);
    var $pager = $('<div class="pager"></div>');
    for (var page = 0; page < numPages; page++) {
        $('<span class="page-number"></span>').text(page + 1).bind('click', {
            newPage: page
        }, function(event) {
            currentPage = event.data['newPage'];
            $table.trigger('repaginate');
            $(this).addClass('active').siblings().removeClass('active');
        }).appendTo($pager).addClass('clickable');
    }
    $pager.insertAfter($table).find('span.page-number:first').addClass('active');
});

})();


</script>